{% extends 'base.html' %}

{% load static %}

{% block content %}

{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>COVID-19 County-level Data</h1>
            A couple of quick scripts to plot up COVID-19 data in Harris County, Texas and Maricopa County, AZ. These plots are designed to emulate some of the data being used by Johnson Space Center to determine when more employees can return to work onsite. 

            <table align="center">
              <tr>
                <td><a href="harris.html"><img src="{% static "img/harris_img.jpg" %}" alt="Harris County"></a></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><a href="maricopa.html"><img src="{% static "img/maricopa_img.jpg" %}" alt="Maricopa County"></a></td>
              </tr>
            </table>

            <h2>How to read these plots</h2>
            Two plots are generated: Daily confirmed cases and Cumulative confirmed cases. In both plots, bars represent daily values and lines represent a 5-day moving average. In the daily confirmed cases plot (top, orange), the color of the bars for the last 14 days of data indicate whether the 2-week trend in cases is increasing (red) or decreasing (green). 

            Mousing over either plot shows you the value of the bars. Your cursor position is also shown to the lower right of the plots. You can interact (zoom, pan, return to home axes) with the plots using the gray icons that appear in the lower right of the plots when you mouseover either plot area.

            <p align="center">><img src="{% static "img/How_to_read_plots.jpg" %}" alt="How to read these plots"></p>

            <h3>Data source</h3>
            All data used here are from the Johns Hopkins Whiting School of Engineering Center for Systems Science and Engineering. <a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports">https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports</a>
            <P>&nbsp;</p>

            <P>The code that runs this webapp can be found at the <a href="https://github.com/kaylai/COVID_JSC">github repository</a>.

            <P>Author: Kayla Iacovino, 2020. MIT Licensed. <a href="mailto:kaylaiacovino@gmail.com">kaylaiacovino@gmail.com</a>.
            <P>&nbsp;</p>
        </div>
    </div>
</div>


{% endblock %}